<%- include("../partials/_head") -%>
<%- include("../partials/_headExtra") -%>

            <%- include("../partials/_hero") -%>
           
            <%- include("../partials/_block") -%>
            
            <%- include("../partials/_slider") -%>

            <%- include("../partials/_block") -%>

            <div id="warning-text-box">

            <% if (user !== null) { %>
                <div id="verified">
                <a class="btn info" href="../profile"> <%- user.username %> Click to contribute </a>
                </div>
                <% } else { %>
                <div id="unverified">
                <a class="btn info" href="../login">Login to contribute </a>
                </div>
            <% } %>

            </div>

            <%- include("../partials/_block") -%>

            <%- include("../partials/_extra") -%>

            <%- include("../partials/_block") -%>

<%- include("../partials/_footer") -%>


