<%- include("../partials/_head") -%>

            <% if (user !== null) { %>
                <p class="white">You are logged in as <%- user.username %></p>
                <% } %>

            <%- include("../partials/_hero") -%>
           
            <%- include("../partials/_block") -%>
            
            <%- include("../partials/_slider") -%>

            <%- include("../partials/_block") -%>

<%- include("../partials/_footer") -%>


