<%- include("../partials/_head") -%>
            <!-- <script src="views/pages/slides.js"></script> -->
            <form id="search-form" action="/" method="GET">
                <input name="name" id="name-query" type="text" /> 
                <input type="submit" value="search" />            
            </form>

            <%- include("../partials/_hero") -%>
            <div class="centered">Centered</div>
            </div>

            <a id="float" href="#history">History of Women in Tech</a>
            <h1 id="history">A History of Women in Tech</h1>
            <%- include("../partials/_slider") -%>

            <div id="main">
                <div id="left-container"></div>
                <div id="right-container">
                    <div class = "grid-container">
                    <% people.forEach(person => { %>
                        <div id="profile-<%=person.id %>" class="profiles">
                        <a href="/profile/<%= person.id %>">
                        <img class="photo" id="profile-pic-<%=person.id %>" src="<%= person.photo %>"></img>
                        </a>
                            <p><%= person.name %></p>
                    </div>
                    <% }) %>
                    </div>
                </div>       
            </div>
            <%- include("../partials/_block") -%>

  

<%- include("../partials/_footer") -%>


