<%- include("../partials/_head") -%>
    <div id="bio-header">
    </div>
    <div id="bio-section">
        <h2> </h2>

        <div id="primary">
            <img src="/images/blue_panel.png">
            <div class = "photo-block">
                <img id="pp-hero" src="<%= person.photo %>">
            </div>
            <h1 class="float-left" class="white"><%= person.name %></h1>
        </div>
    </div>

    <button type="button" class="collapsible">Open Collapsible</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
    <script src='collapse.js'></script>

<%- include("../partials/_block") -%>

<%- include("../partials/_footer") -%>

