<%- include("../partials/_head") -%>
    <div id="bio-header">
        <h1>Profile page</h1>
        <h1>Women in Tech</h1>
        <h1><%= person.name %></h1>
    </div>
    <div id="bio-section">
        <h2> </h2>

        <%- include("../partials/_hero") -%>

        <%- include("../partials/_block") -%>

        <%- include("../partials/_footer") -%>